<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin</title>

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="home.php" class="logo d-flex align-items-center">
        <img src="/static/img/logo.png" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Log Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li>

      </ul>
    </nav>

 </header>

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/staff">
          <i class="bi bi-card-text"></i>
          <span>Staff</span>
        </a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/subject">
          <i class="bi bi-card-text"></i>
          <span>Subject</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/student">
          <i class="bi bi-card-text"></i>
          <span>Student</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/admin/feedback">
          <i class="bi bi-card-text"></i>
          <span>Feedback</span>
        </a>
      </li>
    
    
    </ul>
    
</aside><!-- End Sidebar-->
    
<main id="main" class="main">


<div class="pagetitle container">
    <div style="display:flex;justify-content:space-between">
        <h1>Feedbacks</h1>
    </div>
</div>

<div class="container">
  <div class="accordion" id="accordionExample">
    {% for row in rows %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{loop.index}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
          {{loop.index}} - {{row["subject"]}}
        </button>
      </h2>
      <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for d in data %}
            {% if row["studentid"]|int == d["id"]|int %}
            <h6>Student Reg.No : {{d["regno"]}}</h6>
            <h6>Student Name : {{d["name"]}}</h6>
            <h6>Student Email : {{d["email"]}}</h6>
            {% endif %}
          {% endfor %}
          <hr>
          <p>1. Communication skill of the Faculty?
            <br>
            <span class="text-muted">Ans :</span> {{row["q1"]}}
          </p>
          <p>2. Usage modern teaching aids/gadgets, handouts, Suggesstion of references, ppt, web source?
            <br>
            <span class="text-muted">Ans :</span> {{row["q2"]}}
          </p>
          <p>3. Use of laptop, Videos, Online, teaching, Models demonstration etc..?
            <br>
            <span class="text-muted">Ans :</span> {{row["q3"]}}
          </p>
          <p>4. Faculty reacting to the doubts raised in the class?
            <br>
            <span class="text-muted">Ans :</span> {{row["q4"]}}
          </p>
          <p>5. Faculty summarizes his/her lecture at the end of each class?
            <br>
            <span class="text-muted">Ans :</span> {{row["q5"]}}
          </p>
          <p>6. The faculty explain all experiments clearly?
            <br>
            <span class="text-muted">Ans :</span> {{row["q6"]}}
          </p>
          <p>7. Sufficient equipment for all the experiment are available in lab?
            <br>
            <span class="text-muted">Ans :</span> {{row["q7"]}}
          </p>
          <p>8. All the equipments are in working condition?
            <br>
            <span class="text-muted">Ans :</span> {{row["q8"]}}
          </p>
          <p>9. All dobuts in the experiment has been cleared by faculty?
            <br>
            <span class="text-muted">Ans :</span> {{row["q9"]}}
          </p>
          <p>10. The record note books are corrected in time?
            <br>
            <span class="text-muted">Ans :</span> {{row["q10"]}}
          </p>
          <br>
          <p>Comments:
            <br>
            {{row["data"]}}
          </p>
          <form action="/admin/feedback/delete" method="post" class="text-end">
            <input type="hidden" name="id" value="{{row['id']}}">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if rows|length == 0 %}
      <p style="text-align:center" >Nothing Found</p>
    {% endif %}
  </div>
</div>

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/chart.js/chart.umd.js"></script>
<script src="/static/vendor/echarts/echarts.min.js"></script>
<script src="/static/vendor/quill/quill.min.js"></script>
<script src="/static/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/static/vendor/tinymce/tinymce.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>


<script src="/static/js/main.js"></script>
<script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      if(urlParams.get('err')){
        document.write("<div id='err' style='position:fixed;bottom:30px; right:30px;background-color:#FF0000;padding:10px;border-radius:10px;box-shadow:2px 2px 4px #aaa;color:white;font-weight:600'>"+urlParams.get('err')+"</div>")
      }
      setTimeout(()=>{
          document.getElementById("err").style.display="none"
      }, 3000)
      if(urlParams.get('msg')){
        document.write("<div id='msg' style='position:fixed;bottom:30px; right:30px;background-color:#4CAF50;padding:10px;border-radius:10px;box-shadow:2px 2px 4px #aaa;color:white;font-weight:600'>"+urlParams.get('msg')+"</div>")
      }
      setTimeout(()=>{
          document.getElementById("msg").style.display="none"
      }, 3000)
  </script>
</body>

</html>